<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchIDManagerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38D42E021CBF30E800E86544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38D42E1B1CBF30E800E86544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38D42E261CBF30E800E86544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
